@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(http://weloveiconfonts.com/api/?family=entypo);
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

[class*="entypo-"] {
  width: 1em;
  height: 1em;
}

body {
  background: #252827;
  font-family: 'Raleway', sans-serif;
}

a,
span,
h1,
h2,
h3,
span {
  text-decoration: none;
  color: #999;
}

a:hover {
  color: #777;
}

.title
{
  font-family: 'Raleway', sans-serif;
  color: #999;
  font-size: 25px;
  padding-bottom: 40px;
  padding-top: 18px;
  padding-left: 30%;
}

h1 {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1.5px;
  color: #999;
  font-weight: 10px;
  font-size: 1px;
  margin: 0;
  border-bottom: 1px solid #777;
  padding-bottom: 0.2em;
}

h2 {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1.5px;
  color: #999;
  font-weight: 100;
  font-size: 20px;
}

#content {
  margin-top: 50px;
  text-align: center;
}

.timeline {
  border-left: 0.25em solid #4298c3;
  background: rgba(255, 255, 255, 0.1);
  line-height: 1.4em;
  padding-left: 3em;
  list-style: none;
  text-align: left;
  margin-left: 7em;
  margin-right: 10px;
  border-radius: 0.5em;
}

.event {
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
  position: relative;
}

.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 1em;
}

.timeline .event:before {
  left: -13.5em;
  color: rgba(255, 255, 255, 0.8);
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 0.9em;
  min-width: 9em;
}

.timeline .event:after {
  box-shadow: 0 0 0 0.2em #4298c3;
  left: -3.5em;
  background: #313534;
  border-radius: 50%;
  height: 0.75em;
  width: 0.75em;
  content: "";
}

.timeline .event .member-location,
.timeline .event .member-parameters {
  display: none;
}

.timeline .event:last-of-type .member-location,
.timeline .event:last-of-type .member-parameters {
  display: block;
}

.member-infos {
  padding: 10px;
  text-align: left;
  position: relative;
}

.member-infos > h1 {
  font-weight: bold;
  font-size: 15px;
}

.member-location a:before {
  margin-right: 5px;
}

.member-location {
  text-indent: 2px;
}

.follow,
.options {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: #D3D3D3;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  box-shadow: 0 2px 0 0 #C0C0C0;
  border-radius: 3px;
  display: inline-block;
}

.follow:hover,
.options:hover {
  box-shadow: 0 1px 0 0 #C0C0C0;
  box-sizing: border-box;
  vertical-align: bottom;
  margin-bottom: -1px;
}

.member-socials {
  display: inline-block;
  font-weight: bold;
  vertical-align: bottom;
  line-height: 8px;
  float: right;
}

.member-socials li {
  display: inline-block;
}

.shots-number,
.followers {
  font-weight: normal;
  display: block;
  margin-top: 10px;
  font-size: 0.9em;
}

.member-contact {
  position: absolute;
  right: 10px;
  top: 10px;
}

.member-contact li {
  display: inline-block;
  margin-left: 10px;
}

.member-shots-number {
  padding-right: 6px;
  border-right: 1px solid rgba(0, 0, 0, 0.06);
  margin-right: 6px;
  margin-left: 6px;
}


.close-container {
  position: absolute;
  margin: auto;
  width: 50px;
  height: 50px;
  margin-top: 0px;
  top : 95px;
  left : 135px;
  cursor: pointer;
}

.leftright {
  height: 4px;
  width: 30px;
  position: absolute;
  margin-top: 24px;
  background-color: #3DB1C8;
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all .3s ease-in;
}

.rightleft {
  height: 4px;
  width: 30px;
  position: absolute;
  margin-top: 24px;
  background-color: #3DB1C8;
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all .3s ease-in;
}

label {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: .6em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all .3s ease-in;
  opacity: 0;
}

.close {
  margin: 60px 0 0 5px;
  position: absolute;
}

.close-container:hover .leftright {
  transform: rotate(-45deg);
  background-color: #F25C66;
}

.close-container:hover .rightleft {
  transform: rotate(45deg);
  background-color: #F25C66;
}

.close-container:hover label {
  opacity: 1;
}

.liste {
  margin:0;
  padding:0;
  display:flex;
  position: absolute;
  top: 22%;
  left: 80%;
}

.liste li {
  list-style:none;
  margin: 0 15px;
}

.liste li a {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  font-size: 30px;
  color: #666;
  transition: .5s;
}

.liste li a:before {
  content: '';
  position: absolute;
  top:0;
  left:0;

  border-radius:50%;
  background: #3DB1C8;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

.liste li a:hover:before {
  transform: scale(1.2);
  box-shadow: 0 0 15px #3DB1C8;
  filter: blur(3px);
}

.liste li a:hover {
  color:#3DB1C8;
  text-shadow: 0 0 5px #3DB1C8;
}
