@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);

@font-face
{
  font-family: "title";
  src : url("../../assets/EASPORTS15.ttf")
}

img
{
  height: 130px;
  display: block;
  position: relative;
    margin-left: auto;
    margin-right: auto;
    top : 16vh;
}

#mybody
{
  background-image: url("../../assets/main-background.jpg");
}

#contain
{
  height:100vh;
  overflow-y: scroll;
}

h1
{
  position: relative;
  text-align: center;
  font-family: "title";
  color: rgb(143, 158, 187);
  font-size: 70px;
  top : 16vh;
}

h2
{
  position: relative;
  text-align: center;
  color : rgb(143, 158, 187);
  top : 16vh;
}

a {
  font-size: 1.5rem;
  padding: 1rem 3rem;
  color: #3E9BE1;
  text-transform: uppercase;
}

.btn {
  text-decoration: none;
  border: 5px solid #3E9BE1;
  position: relative;
  left: 43%;
  overflow: hidden;
  top : 23vh;
}

.btn:hover {
  background-color: #3E9BE1;
  color :#283A4C;
}

.weather
{
  padding-top: 3%;
}
