<div id="mybody" class="d-flex bd-highlight ">
  <app-sidebar class="bd-highlight flex-shrink-25"></app-sidebar>
  <div id="contain" class=" bd-highlight w-100 container-fluid overflow-auto">
     <div *ngIf="isConnected() == false">
        <img src="../../assets/mylogo.png">
        <h1>Trello Reborn</h1>
        <h2>Not better than Trello</h2>
        <a  routerLink="/register" class="btn" style="color : white;">Start Now</a>
     </div>
     <div *ngIf="isConnected()">
      <div class="row">
           <div class="col-md-4 weather d-flex justify-content-center" *ngFor="let widget of this.widgetList; let index = index">
               <app-weather *ngIf="widget.type === 'Weather'" [widget]='widget'></app-weather>
               <app-epitech-profil *ngIf="widget.nameType === 'epitech_user'" [widget]='widget'></app-epitech-profil>
               <app-outlook *ngIf="widget.nameType === 'outlook'" [widget]='widget'></app-outlook>
               <app-minecraft *ngIf="widget.nameType === 'minecraft_server'" [widget]='widget'></app-minecraft>
                <app-crypto *ngIf="widget.nameType === 'crypto'" [widget]='widget'></app-crypto>
              <app-asteroid *ngIf="widget.nameType === 'satellite'" [widget]='widget'></app-asteroid>
           </div>
         </div>
      </div>
     </div>
</div>
